

/* Remove the navbar's default rounded borders and increase the bottom margin */
#navbar {
    margin-bottom: 50px;
    border-radius: 0;
    background-color: #7d7a7a;
}

.sticky {
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    width: 100%;
    bottom: 0px;
}

.img-responsive {
    width:100%
}


.container {
    align-content: center;
}

.form-control {
    width: 70%;
    margin: 40px auto;
    border-radius: 0;
    border-radius: 0;
    border: none;
    border-bottom: 1px #7d7a7a;
    box-shadow: 0 1px 0 0;
    text-align: center;
}

button:focus {
    outline: none;
    border: none;
}
input:focus {
    outline: none;
}

.bodyBlock {
    text-align: center;
}

.nav-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.nav-right li {
  display:inline;
    float: right;
}

.navRightLi{
    display: inline;
    padding-right: 20px;
}

.propContainer {
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    float: left;
    width: 18rem;
    margin: 15px 15px;
}

li > a {
    color: #f2f2f2;
}

.mail {
    color: black;
}

.form-horizontal {
    margin-bottom: 10em;
}

.navbar-toggler {
    background-color: #7d7a7a;
    border:none;
}

.profile-toggler, .fa-shopping-cart {
    background-color: #7d7a7a;
    border:none;
    float: right;
    color: #e3f2fd;
    padding: 0 15px;
}

.profile-collapse {
    float: right;
}


.btn-floating {
    background-color: #f2f2f2;
    -webkit-appearance: none;
}

#rightnav {
    display: flex;
    align-items: center;
}
ul {
    list-style-type: none;
}


/* Icon 1 */

.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}



.animated-icon2 span {
    background: #e3f2fd;
}

/*.fa-user, .fa-user-alt-slash, .fa-shopping-cart {
    color: #e3f2fd;
}
*/

#myProfile {
    text-align: right;
}


.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.btn-openH {
    color: inherit;
    box-sizing: border-box;
    background-color: #f2f2f2;
    -webkit-appearance: none;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.nav-img {
    height: 6rem;
    display: inline-block;
}

.inline-text {
    display: inline-block;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}
.card-img-top{
    height: 11rem;
}

.sticky {
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
}


#id_username, #id_password1, #id_password2 {
    border: 1px solid lightgrey;
}

.btn-primary {
    background-color: #7C7B79;
    border: none;
}

.login-register {
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}

.helptext {
    content: ' ';
    display: block;
    color: #888888;
    font-size: 0.7rem;
    font-style: italic;
}

.form-horizontal li {
    color: #888888;
    font-size: 0.7rem;
    font-style: italic;
}

.btn-favorites {

    border: none;
    border-radius: 5px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 0.8rem;
    text-decoration: none;
}

#fav-img {
    height: 2rem;
    padding-bottom: 0.2rem;
}

.property-img {
    width: 50%;
    height: auto;
    margin-bottom: 1rem;
}

#offer {
    margin-bottom: 2rem;
}

.profile-head {
    display: block;
}

.profile-img {
    width: 30%;
    margin-bottom: 1rem;
}

hr {
    size: 6px;
    width: 90%;
    align: center;
    color: #F2F2F2;
    margin-bottom: 2rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#profile-info {

}

#profile-fav-container {
    margin-bottom: 1rem;
    margin-right: 15%;
    width: 70%
}

#profile-fav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#profile-fav-container hr {
    width: 100%;
}

.profile-para {
   /* width: 20rem;*/

}

.btn-profile {
    color: white;
    background-color: #7C7B79;
    border: none;
    border-radius: 5px;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    margin-bottom: 3rem;
    margin-top: 1rem;

}

#profile-fav .card {
    width: 12rem;
    margin: 5px 5px;
}

#profile-fav .card-img-top {
    height: 7rem;
}

#profile-fav .card-body {
    padding-top: 10px;
    padding-bottom: 0px;
}

#profile-fav .card-link {
    font-size: 11px;
}


/* SELLER PROFILE */
#profile-selling-container {
    margin-bottom: 1rem;
    margin-right: 15%;
    width: 70%
}

#profile-selling {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#profile-selling-container hr {
    width: 100%;
}

#profile-selling .card {
    width: 12rem;
    margin: 5px 5px;
}

#profile-selling .card-img-top {
    height: 7rem;
}

#profile-selling .card-body {
    padding-top: 10px;
    padding-bottom: 0px;
}

#profile-selling .card-link {
    font-size: 11px;
}
/* END SELLER PROFILE */