/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
    margin-top: auto;
}
.img-responsive {
    width:100%
}
.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    width: 70%;
}

.form-control {
    width: 70%;
    margin: 40px auto;
    border-radius: 0;
    border-radius: 0;
    border-bottom: 1px #7d7a7a;
    box-shadow: 0 1px 0 0;
}
.bodyBlock {
    text-align: center;
}
.navbar{
    background-color: #7d7a7a;
}

.propContainer{
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card {
    float: left;
    width: 18rem;
    margin: 15px 15px;
}

li > a {
    color: #f2f2f2;
}
.mail{
    color: black;
}
.form-horizontal{
    margin-bottom: 10em;
}
.navbar-toggle{
    background-color: #7d7a7a;
    border:none;
}

.btn-floating{
    background-color: #f2f2f2;
    -webkit-appearance: none;
}

ul {
  list-style-type: none;
}

.property-img {
    padding-bottom: 1rem;
}
