{% extends 'base.html' %}



{% block content %}
    {% load humanize %}
    <h4>Property Search</h4>
    <form id="searchform" action="{% url 'search' %}" method="get" >
        <input type="text" placeholder="Search.." name="q">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br>
    <div class="container">
        <div class="[ col-xs-12 ] search-params">
            <form id="filterform" action="{% url 'filter' %}" method="get" >
                <div class="multiselect">
                    {% for i in Categories %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="category" value="{{ i.id }}"> {{ i.category }}<br>
                        </label>
                    {% endfor %}

                </div>
                Zip code:
                <span class="zips"><select class="zipcodes"  name="zipcodes" id="zip-codes">
                    <option selected disabled>-------</option>
                    {% for i in Zip %}
                        <option value="{{ i.id }}">{{ i.zip }}</option>
                    {% endfor %}

                </select>
                Size (m<sup>2</sup>):
                <select class="size" name="sizefrom" id="size-from">
                    <option value="">&nbsp;</option>
                    <option value="10" >10</option>
                    <option value="20" >20</option>
                    <option value="30" >30</option>
                    <option value="40" >40</option>
                    <option value="50" >50</option>
                    <option value="60" >60</option>
                    <option value="70" >70</option>
                    <option value="80" >80</option>
                    <option value="90" >90</option>
                    <option value="100" >100</option>
                    <option value="125" >125</option>
                    <option value="150" >150</option>
                    <option value="175" >175</option>
                    <option value="200" >200</option>
                    <option value="250" >250</option>
                    <option value="300" >300</option>
                    <option value="350" >350</option>
                    <option value="400" >400</option>
                    <option value="450" >450</option>
                    <option value="500" >500</option>
                    <option value="600" >600</option>
                    <option value="700" >700</option>
                    <option value="800" >800</option>
                    <option value="900" >900</option>
                    <option value="1000" >1000</option>
                </select>
                <a> to </a>
                <select class="size" name="sizeto" id="size-to" >
                    <option value="">&nbsp;</option>
                    <option value="10" >10</option>
                    <option value="20" >20</option>
                    <option value="30" >30</option>
                    <option value="40" >40</option>
                    <option value="50" >50</option>
                    <option value="60" >60</option>
                    <option value="70" >70</option>
                    <option value="80" >80</option>
                    <option value="90" >90</option>
                    <option value="100" >100</option>
                    <option value="125" >125</option>
                    <option value="150" >150</option>
                    <option value="175" >175</option>
                    <option value="200" >200</option>
                    <option value="250" >250</option>
                    <option value="300" >300</option>
                    <option value="350" >350</option>
                    <option value="400" >400</option>
                    <option value="450" >450</option>
                    <option value="500" >500</option>
                    <option value="600" >600</option>
                    <option value="700" >700</option>
                    <option value="800" >800</option>
                    <option value="900" >900</option>
                    <option value="1000+" >1000+</option>
                </select> |
                Rooms:
                <select class="rooms" name="roomsfrom" id="rooms-from">
                    <option value="">&nbsp;</option>
                    <option value="1" >1</option>
                    <option value="2" >2</option>
                    <option value="3" >3</option>
                    <option value="4" >4</option>
                    <option value="5" >5</option>
                    <option value="6" >6</option>
                    <option value="7" >7</option>
                    <option value="8" >8</option>
                    <option value="9" >9</option>
                    <option value="10" >10</option>
                </select>
                 to
                <select class="rooms" name="roomsto" id="rooms-to">
                    <option value="">&nbsp;</option>
                    <option value="1" >1</option>
                    <option value="2" >2</option>
                    <option value="3" >3</option>
                    <option value="4" >4</option>
                    <option value="5" >5</option>
                    <option value="6" >6</option>
                    <option value="7" >7</option>
                    <option value="8" >8</option>
                    <option value="9" >9</option>
                    <option value="10+" >10+</option>
                </select> |
                Price (m.kr):
                <select class="price" name="pricefrom" id="price-from">
                    <option value="">&nbsp;</option>
                    <option value="0" >0</option>
                    <option value="5" >5</option>
                    <option value="10" >10</option>
                    <option value="15" >15</option>
                    <option value="20" >20</option>
                    <option value="25" >25</option>
                    <option value="30">30</option>
                    <option value="35" >35</option>
                    <option value="40" >40</option>
                    <option value="45" >45</option>
                    <option value="50" >50</option>
                    <option value="55" >55</option>
                    <option value="60" >60</option>
                    <option value="65" >65</option>
                    <option value="70" >70</option>
                    <option value="75" >75</option>
                    <option value="80" >80</option>
                    <option value="85" >85</option>
                    <option value="90" >90</option>
                    <option value="95" >95</option>
                    <option value="100" >100</option>
                    <option value="125" >125</option>
                    <option value="150" >150</option>
                    <option value="175" >175</option>
                    <option value="200" >200</option>
                    <option value="300" >300</option>
                    <option value="400" >400</option>
                    <option value="500" >500</option>
                    <option value="600" >600</option>
                    <option value="700" >700</option>
                    <option value="800" >800</option>
                    <option value="900" >900</option>
                    <option value="1000" >1000</option>
                </select>
                 to
                <select class="price" name="priceto" id="price-to">
                    <option value="">&nbsp;</option>
                    <option value="0" >0</option>
                    <option value="5" >5</option>
                    <option value="10" >10</option>
                    <option value="15" >15</option>
                    <option value="20" >20</option>
                    <option value="25" >25</option>
                    <option value="30">30</option>
                    <option value="35" >35</option>
                    <option value="40" >40</option>
                    <option value="45" >45</option>
                    <option value="50" >50</option>
                    <option value="55" >55</option>
                    <option value="60" >60</option>
                    <option value="65" >65</option>
                    <option value="70" >70</option>
                    <option value="75" >75</option>
                    <option value="80" >80</option>
                    <option value="85" >85</option>
                    <option value="90" >90</option>
                    <option value="95" >95</option>
                    <option value="100" >100</option>
                    <option value="125" >125</option>
                    <option value="150" >150</option>
                    <option value="175" >175</option>
                    <option value="200" >200</option>
                    <option value="300" >300</option>
                    <option value="400" >400</option>
                    <option value="500" >500</option>
                    <option value="600" >600</option>
                    <option value="700" >700</option>
                    <option value="800" >800</option>
                    <option value="900" >900</option>
                    <option value="1000+" >1000+</option>
                </select>

                <div class="multiselect-time">
                    <label class="radio-inline">Order by:
                        <input type="radio" name="ordertime" value="Newest" > Newest
                        <input type="radio" name="ordertime" value="Oldest" > Oldest<br>
                    </label>
                </div>
                <select class="order-info" name="orderinfo" id="order-info">
                    <option value="">&nbsp;</option>
                    <option value="priceascending" >Price ascending</option>
                    <option value="pricedescending" >Price descending</option>
                    <option value="nameascending" >Name ascending</option>
                    <option value="namedescending" >Name descending</option>

                </select>
                <input type="submit"value="Filter"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block houses %}
    {% load humanize %}

    <div class="propContainer">
        {% for i in Properties %}
            {% if not i.deleted %}
                <div class="card" >
                    <a href="/properties/{{ i.id }}"><img src="{{ i.propertyimages_set.first }}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/properties/{{ i.id }}">{{ i.address }}</a></h5>
                        <!--<p class="card-text">{{ i.description_set.first }}</p>-->
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ i.category.category}}</li>
                        <li class="list-group-item">{{ i.size|intcomma }} m<sup>2</sup></li>
                        <li class="list-group-item">{{ i.rooms }} Rooms</li>
                        <li class="list-group-item">{{ i.price|intcomma }}.- kr</li>
                    </ul>
                    <div class="card-body">
                        <a href="/properties/{{ i.id }}" class="card-link">Read more</a>
                        {% if user.is_authenticated %}
                            <a href="/users/addCartItem/{{ i.id }}" class="card-link">Add to cart</a>
                        {% else %}
                            <a href="../users/login" class="card-link">Add to cart</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div><br>

{% endblock %}
