{% extends 'base.html' %}


{% block houses %}
{% load humanize %}

    <div class="propContainer">
        {% for i in Properties %}
            <div class="card" >
                <a href="/properties/{{ i.id }}"><img src="{{ i.propertyimages_set.first }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/properties/{{ i.id }}">{{ i.address }}</a></h5>
                    <!--<p class="card-text">{{ i.description_set.first }}</p>-->
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ i.category.category}}</li>
                    <li class="list-group-item">{{ i.size }} m<sup>2</sup></li>
                    <li class="list-group-item">{{ i.rooms }} Rooms</li>
                    <li class="list-group-item">{{ i.price|intcomma }}.- kr</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Read more</a>
                     {% if user.is_authenticated %}
                    <a href="#" class="card-link">Add to cart</a>
                     {% endif %}
                </div>
            </div>
        {% endfor %}
    </div><br>



{% endblock %}

{% block content %}


{% endblock %}