{% extends 'base.html' %}


{% block houses %}
    <h1>Open Houses</h1>
    <div class="propContainer">
        {% for i in OpenHouses %}
            <div class="card" >
                <a href="/properties/{{ i.property_id }}"><img src="{{ i.property.propertyimages_set.first }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/properties/{{ i.property_id }}">{{ i.property.address }}</a></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ i.time }}</li>
                </ul>
            </div>
        {% endfor %}
    </div><br>



{% endblock %}

{% block content %}


{% endblock %}