{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    <h2>Edit Property Photos</h2>
    {% for i in Property_images %}
            <img class="edit-img" alt="card image" src="/{{ i.image.name }}" >
            <p><a href="/properties/delete_image/{{ i.id }}" class="btn btn-danger">Delete Photo</a></p>
    {% endfor %}
    <a href="/properties/add_image/{{ prop_id }}" class="btn btn-danger">Add Photo</a>
    <br>
    <a href="/properties/{{ prop_id }}" class="btn btn-danger">Back To Property</a>

{% endblock %}