{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    <h2>{{ Property.address }}</h2>
    {% if Property.propertyimages_set.count == 0 %}
        <img class="property-img" src="/static/images/Properties/default_castle.jpg" >
    {% else %}
        <img class="property-img" src="{{ Property.propertyimages_set.first}}" >
    {% endif %}

    <p><b>Price:</b> {{ Property.price|intcomma }}</p>
    

    {% if user.is_authenticated %}
        {% if Property in Favourites %}
            <img id="fav-img" src="/static/images/favorites_star_yellow.png"></br>
            <a class="btn-favorites" href="/users/removeFavourite/{{ Property.id}}" >Remove from favourites</a>
        {% else %}
            <img id="fav-img" src="/static/images/favorites_star.png"></br>
            <a class="btn-favorites" href="/users/addFavourite/{{ Property.id}}" >Add to favourites</a>
        {% endif %}
        <br><br>
        {% if Property in Cart %}
            <a href="/users/removeCartItem/{{ Property.id }}" class="card-link">Remove from cart</a>
        {% else %}
            <a href="/users/addCartItem/{{ Property.id }}" class="card-link">Add to cart</a>
        {% endif %}
    {% else %}
        <a href="../users/login" class="card-link">Add to cart</a>
    {% endif %}

    <h3>Property Details</h3>
    <p>{{ Property.description_set.first.description }}</p>

    <p><b>Category:</b> {{ Property.category_id.category}}</p>
    <p><b>City:</b> {{ Property.zip.city }}</p>
    <p><b>Zip:</b> {{ Property.zip.zip }}</p>
    <p><b>Square meters:</b> {{ Property.size|intcomma }}</p>
    <p><b>Bathrooms:</b> {{ Property.bathrooms }}</p>
    <p><b>Rooms:</b> {{ Property.rooms }}</p>
    {% if Property.category_id != 6 %}
        <p><b>Year built:</b> {{ Property.year_built }}</p>
    {% endif %}
    {% if user.is_authenticated and Property.id in UsersProperty %}
        <a href="/Properties/delete/{{ Property.id}}" class="btn btn-danger">Delete Property</a>
    {% endif %}
{% endblock %}