{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    <h2>{{ Properties.address }}</h2>
    {% if Properties.propertyimages_set.count == 0 %}
        <img class="property-img" src="/static/images/properties/default_castle.jpg" >
    {% else %}
        <img class="property-img" src="{{ Properties.propertyimages_set.first}}" >
    {% endif %}

    <p><b>Price:</b> {{ Properties.price|intcomma }}</p>

    <a class="btn-favorites" href="/users/addFavourite/{{ Properties.id}}" >Add to Favorites</a>
    <img id="fav-img" src="/static/images/favorites_star.png"></br>
    <a href="/users/addCartItem/{{ Properties.id }}" class="card-link">Add to cart</a>

    <h3>Property Details</h3>
    <p>{{ Properties.description_set.first.description }}</p>

    <p><b>Category:</b> {{ Properties.category_id.category}}</p>
    <p><b>City:</b> {{ Properties.zip.city }}</p>
    <p><b>Zip:</b> {{ Properties.zip.zip }}</p>
    <p><b>Square meters:</b> {{ Properties.size|intcomma }}</p>
    <p><b>Bathrooms:</b> {{ Properties.bathrooms }}</p>
    <p><b>Rooms:</b> {{ Properties.rooms }}</p>
    {% if Properties.category_id != 6 %}
        <p><b>Year built:</b> {{ Properties.year_built }}</p>
    {% endif %}
    {% if user.is_authenticated and Properties.id in UsersProperties %}
        <a href="/properties/delete/{{ Properties.id}}" class="btn btn-danger">Delete Property</a>
    {% endif %}
{% endblock %}