{% extends "base.html" %}
{% block content %}
    {% load humanize %}


    <h2>Congratulations with your new property:</h2>


    <div class="propContainer">

        <div class="card" >
            <img class="card-img-top" alt="card image" src="{{ img }}" >
            <div class="card-body">
                <h5 class="card-title"><a>{{ property.address }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ property.category }}</li>
                <li class="list-group-item">{{ property.size|intcomma }} m<sup>2</sup></li>
                <li class="list-group-item">{{ property.rooms }} Rooms</li>
                <li class="list-group-item">{{ property.price|intcomma }}.- kr</li>
            </ul>
        </div>

    </div>
{% endblock %}