{% extends 'base.html' %}
{% block content %}
    {% load humanize %}
    <h1 id="head-about-us">About Us</h1>
    <hr>
    <div id="about-us-text"><p>
        For years, thousands of home shoppers have turned to Castle Apartments
        to find their dream home.
        Castle Apartments offers a comprehensive list of for-sale properties,
        as well as the information and tools to make informed real-estate decisions.
        Today, more than ever, Castle Apartments is the home of home searching.
        <br><br>
        Castle Apartments also offers realtors a bevy of useful tools and resources
        through the unique realtor account dropdown.
        Realtors can give other users realtor access, add properties for sale
        and schedule a open house for one of the properties they have for sale.
    </p></div>


{% endblock %}