{% extends "base.html" %}
{% block content %}
    {% load humanize %}

    <h1>Confirmation</h1>

    {% if items_count > 1 %}
        <h2>Your Properties:</h2>
    {% else %}
        <h2>Your Property:</h2>
    {% endif %}

    <div class="propContainer">
        {% for i in items %}
            <div class="card" >

                <a href="{% url 'property_details' i.property_id %}">
                    {% if i.property.propertyimages_set.count == 0 %}
                        <img class="card-img-top" alt="card image" src="/static/images/properties/default_castle.jpg" >
                    {% else %}
                        <img class="card-img-top" alt="card image" src="{{ i.property.propertyimages_set.first}}" >
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'property_details' i.property_id %}">{{ i.property.address }}</a></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ i.property.category }}</li>
                    <li class="list-group-item">{{ i.property.size|intcomma }} m<sup>2</sup></li>
                    <li class="list-group-item">{{ i.property.rooms }} Rooms</li>
                    <li class="list-group-item">{{ i.property.price|intcomma }}.- kr</li>
                </ul>
            </div>
        {% endfor %}
    </div>
    <p><b>Total Price:</b> {{ total_price|intcomma }}.- kr</p>
    <input type="button" onclick="location.href='javascript:history.back()'" value="Prev" class="btn btn-primary pull-right"/>

    <input id="confirmButton" type="button" onclick="purchaseConfirmed(); location.href={% url 'delete_purchased_properties' %}"
     value="Confirm Purchase" class="btn btn-primary pull-right"/>

{% endblock %}