{% extends 'base.html' %}

{% block content %}

    <!-- Search form -->
    <div class="md-form active-pink-2 mb-3">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
{% endblock %}

{% block houses %}


    <div class="propContainer">
        <h5 class="section-title h1">Our latest properties for sale!</h5>
        <div class="newRow">
            <!-- Property-->
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="{{ Properties.1.propertyimages_set.first }}" alt="card image"></p>
                    <h4 class="card-title">Fasteign</h4>
                    <p class="card-text">Her kemur nyjasta fasteignin</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="{{ Properties.2.propertyimages_set.first }}" alt="card image"></p>
                    <h4 class="card-title">Fasteign</h4>
                    <p class="card-text">Her kemur nyjasta fasteignin</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <p><img class=" img-fluid" src="{{ Properties.3.propertyimages_set.first }}" alt="card image"></p>
                    <h4 class="card-title">Fasteign</h4>
                    <p class="card-text">Her kemur nyjasta fasteignin</p>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


{% block right_nav %}

{% endblock %}

<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li> -->
<!-- <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->