{% extends 'base.html' %}

{% block search %}

{% endblock %}

{% block houses %}
    {% load humanize %}
    <form id="searchform" action="{% url 'search' %}" method="get" >
        <input type="text" placeholder="Search.." name="q">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <section id="newest" class="pb-5">
        <div class="propContainer">
            <h5 class="section-title h1">Our latest properties for sale!</h5>
            <div class="newRow">
                <!-- Property-->
                {% for i in Properties %}
                <div class="card">
                    <a href="../properties/{{ i.id}}"><img class="card-img-top" src="{{ i.propertyimages_set.first }}" alt="card image"></a>
                    <div class="card-body">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.address }}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ i.price|intcomma }} .- Kr</li>
                            <li class="list-group-item">{{ i.size|intcomma }} m<sup>2</sup></li>
                        </ul>
                        <div class="card-body">
                            <a href="../properties/{{ i.id}}" class="card-link">Read more</a>
                            {% if user.is_authenticated %}
                                <a href="/users/addCartItem/{{ i.id }}" class="card-link">Add to cart</a>
                            {% else %}
                                <a href="../users/login" class="card-link">Add to cart</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <a href ="/properties/" class="see-all-props">See all properties</a>
{% endblock %}


