{% extends 'base.html' %}

{% block content %}

    <!-- Search form -->
    <div class="md-form active-pink-2 mb-3">
        <input id="mainSearch" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
{% endblock %}

{% block houses %}



    <div class="propContainer">
        {% for i in Properties %}
            <div class="card" >
                <img src="{{ i.propertyimages_set.first }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ i.address }}</h5>
                    <p class="card-text">{{ i.description_set }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ i.category_id.category}}</li>
                    <li class="list-group-item">{{ i.size }} m<sup>2</sup></li>
                    <li class="list-group-item">{{ i.rooms }} Rooms</li>
                    <li class="list-group-item">{{ i.price }}.- kr</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Read more</a>
                    {% if user.is_authenticated %}
                        <a href="#" class="card-link">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div><br>


{% endblock %}


{% block right_nav %}

{% endblock %}

<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li> -->
<!-- <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->