{% extends 'base.html' %}
{% block content %}
    {% load humanize %}

    <h1 class="profile-head-seller">{{ sellers_profile.name }}</h1>
    <div class="profile-container">
        <div class="profile-info">

            <img class="profile-img" alt="profile_picture" src="{{ sellers_profile.image_name }}" >

            <p class="profile-para"><b>Email: </b><a href = "mailto: {{ sellers_profile.user.email }}" class="mail"> {{ sellers_profile.user.email }}</a></p>

            <p class="profile-para"><b>Address:           </b> {{ sellers_profile.address }}</p>

            <p class="profile-para"><b>Zip:               </b> {{ sellers_profile.zipCode }}</p>

            {% if user.is_authenticated and user.id == Profiles.user_id %}
                <p class="profile-para"><b>Social Security Nr:</b> {{ sellers_profile.social }}</p>
            {% endif %}

        </div>
        {% if selling_count != 0 %}
            <div class="profile-selling-container">
                <h3>Realtor's Properties</h3>
                <hr>
                <div class="profile-selling">
                    {% for i in selling %}
                        {% if not i.property.deleted %}
                            <div class="card" >
                                <a href="{% url 'property_details' i.property_id %}">
                                    {% if i.property.propertyimages_set.count == 0 %}
                                        <img class="card-img-top" alt="castle" src="/static/images/properties/default_castle.jpg" >
                                    {% else %}
                                        <img class="card-img-top" alt="property thumbnail" src="{{ i.property.propertyimages_set.first}}" >
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'property_details' i.property_id %}">{{ i.property.address }}</a></h5>
                                    <!--<p class="card-text">{{ i.description_set.first }}</p>-->
                                </div>
                                <div class="card-body">
                                    <a href="{% url 'property_details' i.property_id %}" class="card-link">View</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}