{% extends 'base.html' %}
{% block content %}
    {% load humanize %}
    <h1>Profile</h1>
    <h2>User Nr:    {{ Profiles.user_id }}</h2>
    <h2>Profile ID: {{ Profiles.id }}</h2>
    <img class="property-img" alt="profile_picture" src="{{ Profiles.image_name }}" >

    <p><b>Address:           </b> {{ Profiles.address }}</p>

    <p><b>Name:              </b> {{ Profiles.address }}</p>

    <p><b>Social Security Nr:</b> {{ Profiles.social }}</p>

    <p><b>Zip:               </b> {{ Profiles.zipCode }}</p>

    <a href="/users/profileup" class="btn btn-danger">Edit Profile</a>
{% endblock %}