{% extends 'base.html' %}


{% block content %}
    <h1>Our staff</h1>
    <div class="propContainer">
        {% for i in staff %}
            <div class="card">
                <a href="{% url 'profile_seller' i.id %}">
                    <img class="card-img-top" alt="profile image" src="{{ i.profiles.image_name }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'profile_seller' i.id %}">{{ i.profiles.name }}</a></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">User name: {{ i.username }}</li>
                    <li class="list-group-item">Member since : {{ i.date_joined.date }}</li>
                    <li class="list-group-item"><a href="mailto: {{ i.email }}" class="mail">{{ i.email }}</a></li>
                </ul>
            </div>
        {% endfor %}
    </div><br>



{% endblock %}